<div class="content">
  <h2 class="content-subhead">Edit rules for host <b><%=username%></b></h2>
  <%= render partial: "overwrites/form", locals: { overwrite: overwrite,
                                                   supplier_id: supplier_id,
                                                   host_id: host_id } %>
</div>
