<%= stylesheet "host_form" %>

<div class="content">
  <h2 class="content-subhead"><%= supplier.name %></h2>
  <h3>Create new host</h3>
  <%=
    form_for :host, routes.supplier_hosts_path(supplier.id), class: 'pure-form pure-form-aligned host-form' do
      legend :Required
      div(class: 'host-form-control') do
        label :identifier
        text_field :identifier, class: 'pure-input-1-2', placeholder: "Host id in supplier's system. Duplicate username for single host suppliers"
      end

      div(class: 'host-form-control') do
        label :username
        text_field :username, class: 'pure-input-1-2', placeholder: "Use Roomorama's user login"
      end

      div(class: 'host-form-control') do
        label :fee_percentage
        number_field :fee_percentage, class: 'pure-input-1-2', placeholder: "Get this from Partnership Team"
      end

      br

      legend :Optional

      div(class: 'host-form-control') do
        label :access_token
        text_field :access_token, class: 'pure-input-1-2', placeholder: "Leave blank to create one; new Roomorama user created if username is not taken"
      end

      div(class: 'host-form-control') do
        label :first_and_last_name
        text_field :name, class: 'pure-input-1-2', placeholder: "Required if Roomorama user needs to be created "
      end

      div(class: 'host-form-control') do
        label :email
        text_field :email, class: 'pure-input-1-2', placeholder: "Required if Roomrama user needs to be created"
      end

      div(class: 'host-form-control') do
        label :phone
        text_field :phone, class: 'pure-input-1-2', placeholder: "Required if Roomorama user needs to be created"
      end

      div(class: 'host-form-control') do
        label :payment_terms
        text_area :payment_terms, class: 'pure-input-1-2', placeholder: "Get this from Partnership Team"
      end

      div do
        submit 'Create host', class: 'pure-button pure-button-primary'
      end
    end
  %>
</div>
