# This file lists hosts under certain suppliers integrated through Concierge.
#
# These are loaded into the database via the +hosts:create_from_yml+ rake task.
# Each key under the suppliers are the hosts' identifier in partner's system
#

Ciirus:
  123:
    fee_percentage: 7
    phone: "+6598765432"

