# This file lists all suppliers integrated through Concierge.
#
# These are loaded into the database via the +suppliers:load+ rake task. After
# the suppliers are imported into the database, it becomes possible create new
# hosts for such suppliers, and start the integration process.
#
# Only suppliers for which the full integration flow is completed should be
# added here (properties synchronisation as well as webhooks.)

AtLeisure:
  workers:
    metadata:
      every: "1d"
    availabilities:
      every: "5h"

WayToStay:
  workers:
    metadata:
      every: "1d"
    availabilities:
      absence: "WayToStay calendar is synchronised with property metadata, due to the diff-like API provided."

Ciirus:
  workers:
    metadata:
      every: "1d"
    availabilities:
      every: "5h"

Kigo:
  workers:
    metadata:
      every: "1d"
