<div class="error-event">
  <%= render partial: "external_errors/events/timestamp", locals: { event: event } %>

  <h3><%= event[:label] %></h3>

  <pre class="code-block">
<%= pretty_print(event[:message], event[:content_type]) %>
  </pre>

  <% if event[:backtrace] && !event[:backtrace].empty? %>
    <p>Follows the backtrace of the notification:</p>

    <div class="code-block">
      <% event[:backtrace].each do |entry| %>
        <p><%= entry %></p>
      <% end %>
    </div>
  <% end %>
</div>
