<%
  # currently, Hanami does not expose its helper methods or routers when rendering
  # custom error pages. Therefore, links have to be hardcoded in this view.
  #
  # TODO remove the hardcoding here if Hanami supports access to +routes+ in
  # this template as it does for regular templates.
  prefix = ""

  case Hanami.env
  when "development"
    prefix = "/web"
  end
%>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="/assets/dashboard.css" />
    <link href="/assets/web/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/assets/dashboard.css" />
    <link rel="stylesheet" href="/assets/external_errors.css" />

    <title>Concierge - Page Not Found</title>
  </head>

  <body>
    <div id="layout">
      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="<%= prefix %>/">
            <img src="/assets/roomorama-white-small.png" />
            Concierge
          </a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="<%= prefix %>/reservations" class="pure-menu-link">Reservations</a></li>
            <li class="pure-menu-item"><a href="<%= prefix %>/errors" class="pure-menu-link">External Errors</a></li>
            <li class="pure-menu-item"><a href="<%= prefix %>/sync_processes" class="pure-menu-link">Synchronisation</a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <div class="header">
          <h2>
            404 - Page Not Found
          </h2>
        </div>
      </div>
    </div>
  </body>
</html>
