.clearfix {
  overflow: auto;
  zoom: 1;
}

.section-intro {
  font-size: 0.9em;
  color: #aaa;
  padding: 20px;
  background-color: #eee;
  margin-bottom: 20px;
  border: 1px solid #bbb;
  text-align: justify;
}

.concierge-table {
  width: 100%;
}

.concierge-table a {
  color: #2ebbab;
  text-decoration: none;
}

.affected-supplier {
  font-style: italic;
}

.error-event {
  line-height: 1.7em;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #eee;
}

.error-time {
  position: relative;
}

.error-clock {
  float: left;
}

.error-timestamp {
  margin-left: 10px;
  color: #2ebbab;
  float: left;
}

code {
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code::before {
  letter-spacing: -0.2em;
}

code::after {
  letter-spacing: -0.2em;
}

.code-block {
  color: #777 !important;
  padding: 16px !important;
  overflow: auto !important;
  font-size: 85% !important;
  background-color: #f7f7f7 !important;
  border-radius: 3px !important;
  font: 13px Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  line-height: 1.3em !important;
}
